<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href="../sass/main.sass")
    body
        input(
            type="text"
            "name"="username"
            'placeholder'="Enter your username"
            readonly=false
            required
        )
        script(src="../js/main.js")
